.portal-container {
  margin-left: 11rem;
}
.portal-main-content {
  margin-top: 1rem;
  padding: 0 1rem;
}
.main-content-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content-title {
  text-transform: capitalize;
  font-size: 15px;
}
tr {
  display: flex;
  gap: 1rem;
}
th {
  text-transform: capitalize;
}
