.signing-section {
  width: 100vw;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-signing-container,
.main-registering-container {
  width: 30%;
  display: grid;
  gap: 0.8rem;
}

.signing-container-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signing-header-logo {
  --size: 7rem;
  width: var(--size);
  height: var(--size);
  background-color: var(--main-color);
  border-radius: 50%;
}

.signing-header-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.signing-header-title {
  text-transform: uppercase;
  font-size: 25px;
}
.signing-header-text {
  text-transform: capitalize;
  font-size: 17px;
}

.signing-form {
  width: 100%;
}
.password-eye {
  cursor: pointer;
}

.signing-forget-text {
  text-align: right;
  text-transform: capitalize;
}

.signing-forget-text a,
.signing-ref-text a {
  text-decoration: none;
  color: var(--main-color);
}
.error {
  text-align: center;
  color: red;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.or {
  position: relative;
  display: flex;
  justify-content: center;
}
.or:before,
.or:after {
  content: " ";
  width: 35%;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  background-color: var(--div-border);
}
.or:before {
  left: 2rem;
}
.or:after {
  right: 2rem;
}
.or span {
  text-transform: uppercase;
}
.sign-with-google {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem;
  border: 1px solid var(--div-border);
  border-radius: var(--radius);
  transition: all 0.3s;
}

.sign-with-google:hover {
  border-color: var(--main-color);
}
.signing-google-logo img {
  width: 2rem;
}

.sign-with-google span {
  text-transform: capitalize;
  font-size: 13px;
}

.signing-ref-text,
.signing-forget-text {
  font-size: 13px;
}

.main-registering-container {
  width: 40%;
}
.register-name-inputs,
.register-password-input,
.register-date-photo {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.register-gender-input {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  border: none;
}

@media screen and (max-width: 1040px) {
  .main-signing-container {
    width: 40%;
  }
}
@media screen and (max-width: 992px) {
  .main-registering-container {
    width: 55%;
  }
}
@media screen and (max-width: 800px) {
  .main-signing-container {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .main-signing-container,
  .main-registering-container {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .main-registering-container,
  .main-signing-container {
    width: 80%;
  }
  .register-name-inputs,
  .register-password-input,
  .register-date-photo {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .register-gender-input {
    gap: 0;
  }
}
@media screen and (max-width: 450px) {
  .main-registering-container,
  .main-signing-container {
    width: 85%;
  }
}
